/* @import url("./assets/css/common.css"); */

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --radius: 0.625rem;
    --background: 0 100% 50%;
    --foreground: 0 0% 14%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 14%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 14%;
    --primary: 0 0% 20%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 97%;
    --secondary-foreground: 0 0% 20%;
    --muted: 0 0% 97%;
    --muted-foreground: 0 0% 55%;
    --accent: 0 0% 97%;
    --accent-foreground: 0 0% 20%;
    --destructive: 27 68% 47%;
    --border: 0 0% 92%;
    --input: 0 0% 92%;
    --ring: 0 0% 71%;
    --chart-1: 41 62% 56%;
    --chart-2: 185 33% 47%;
    --chart-3: 227 27% 36%;
    --chart-4: 84 65% 78%;
    --chart-5: 70 66% 72%;
    --sidebar: 0 0% 98%;
    --sidebar-foreground: 0 0% 14%;
    --sidebar-primary: 0 0% 20%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 0 0% 97%;
    --sidebar-accent-foreground: 0 0% 20%;
    --sidebar-border: 0 0% 92%;
    --sidebar-ring: 0 0% 71%;
  }
  
 